
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
    /* border:1px solid red; */
}
:root{
    --main-color:#ff702a;
    --text-color:#fff;
    --bg-color:#1e1c2a;
    --h2-font:2.25rem;
    --p-font:0.9rem;
}
*::selection{
    background: var(--main-color);
    color:#fff;
}
body{
    color:var(--text-color);
    background:var(--bg-color);
}
header{
position:fixed;
background-color: var(--bg-color);
top:0;
right:0;
width:100%;
z-index:1000;
display: flex;
align-items: center;
justify-content: space-between;
padding:20px 80px;
}
.logo{
    color:var(--main-color);
    font-size:2.4rem;
    font-weight:600;

}
.navbar{
    display: flex;
}
.navbar a{
    padding: 10px;
    color:var(--text-color);
    font-size:1.1rem;
    font-weight:500;
}
.navbar a:hover{
    color:var(--main-color);
    transition:0.4s
}
i[class~="fa-bars"]{
    font-size:2rem;
    cursor:pointer;
    display: none;
}
section{
    padding:100px 17%;
}

.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    min-height:90vh

}
.home-txt h1{

    font-size:3rem;
    color:var(--main-color)
}
.home-txt h2{
    font-size:2rem;
    margin:1rem 0 2rem;

}
.btn{
    display: inline-block;
    padding:10px 20px;
    background-color: var(--main-color);
    color:#fff;
    border-radius:0.5rem;
    transition:0.2s;
}
.btn:hover{
    transform: scale(1.2) translateY(10px);
    letter-spacing: 2px;
}
.home-img img{
    max-width:100%;
    width:600px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:50px;
}

.about-img img{
    width:480px;
    max-width:100%;
    height:auto;


}
.about-text span{
    color: var(--main-color);
    font-weight:600;
}
.about-text h2{
    font-size: var(--h2-font);

}
.about-text p{
    font-size:var(--p-font);
    line-height:1.5rem;
    margin:0.8rem 0 1.8rem;
}

i[class~="fa-cart-shopping"]{
    font-size:1rem;
    cursor:pointer;
}
.heading{
    text-align: center;
}
.heading span{
    font-weight:600;
    color:var(--main-color)
}
.heading h2{
    font-size: var(--h2-font);
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:50px;
}

.box{
    flex-grow:1;
    position:relative;
    margin-top:4rem;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #feeee7;
    border-radius:0.4rem;
    padding:20px;
}
.box-img{
    width:220px;
    height:220px;

}
.box-img img{
    width:100%;
    height:100%;
}
.box h2{
    color:var(--bg-color);
    font-size:1.3rem;
    line-height: 2rem;
}
.box h3{
    color:var(--bg-color);
    font-size:1rem;
    font-weight:400;
    margin:4px 0 10px;
}
.box span{
    font-size:var(--p-font);
    color:var(--main-color);
    font-weight: 600;
}
.box .fa-cart-shopping{
    background-color:var(--main-color);
    position:absolute;
    padding:7px 10px;
    font-size:20px;
    top:0;
    right:0;
    border-top-right-radius: 0.4rem;
}
.service-container{
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
    margin-top:4rem;
}
.s-box{
    text-align: center;
    padding:20px 30px;
}
.s-box img{
    width:90px;
}
.s-box h3{
    margin:4px 0 10px;
    color:var(--main-color);
    font-size: 1.2rem;
}
.s-box p{
    line-height:1.7;
}
.cta{
    background-color: #feeee7;
    border-radius: 0.5rem;
    margin:100px auto;
    padding:70px 0;
    text-align: center;
    width:66%;
}
.cta h2{
    color:var(--bg-color);
    margin-bottom:2rem;
    font-size: 2rem;
}
.main{
    display: flex;
    flex-wrap: wrap;  
}
.footer{
    padding:10px 0;
}
.col{
    width:25%;
}
.col h4{
    font-size: 1.2rem;
    color:var(--text-color);
    margin-bottom: 25px;
    position:relative;
}
.col ul li{
margin-bottom:15px;
}
.col ul li:last-child{
    margin-bottom:0px;
}
.col ul li a{
    color:#9897a9;
    font-size: 1.1rem;
    display: block;
    text-transform: capitalize;
    transition:0.5s
}
.col ul li a:hover{
    color:var(--text-color);
    transform: translateX(-12px);
}

.col .social{
    width:220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col .social a{
    height:40px;
    width:40px;
    background-color: var(--main-color);
    color:var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size:1.5rem;
    border-radius:50%;
    transition: 0.5s;
}
.col .social a:hover{
    color:var(--bg-color);
    background: var(--text-color);
    transform: scale(1.2);
}

@media (max-width:1560px){
    header{
        padding:15px 40px;
    }
    :root{
     --big-font:3.5rem;
     --h2-font:2rem;   
    }
    section{
        padding:70px 10%;
    }
}
@media (max-width:1140px){
    section{
        padding:50px 8%;
    }
    #menu-icon{
        display: block;
        color:var(--text-color);

    }
    header .navbar{
        position:absolute;
        top:0;
        right:0;
        left:0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #2b2640;
        transition: 0.2s;
        display: none;
    }
    .navbar a{
        padding:1rem;
        display: inline-block;
    }
    .col{
        width:50%;
        margin-bottom:20px;
    }
}

@media (max-width:720px){
    header{
        padding:10px 16px;
    }
    .home{
        flex-direction: column;
        text-align: center;
    }
 
    .about{
        flex-direction: column;
        text-align: center;
    }
    .about-img{
        order:1;
    }
    section{
        padding:100px 7%;
    }
}

@media (max-width:575px){
    .col{
        width:100%;
    }
}